{% extends "admin/base.html" %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Zalogowano jako {{ current_user.firstname }}</li>
    </ol>
    <!--
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Dodaj nowy artykuł</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Dodaj coś nowego</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Modyfikuj jakiś artykuł</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Zmodyfikuj coś</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Usuń jakiś artykuł</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Usuń coś</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Statystyki artykułów
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    -->

    <div class="card border-warning mb-3">
        <div class="card-header">
          Notka 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Uwaga, edytowanie obrazka w istniejących artykułach nie działa, przy dodawaniu nowego artykułu jest ok👌 - problem rozwiązywany.
                <br> Proszę też jako obrazek do artykułu dodawać tylko pliki zdjęciowe, żadnych wirusów, programów, ani innego syfu bo to rozwali ten serwis
            </p>
            <footer class="blockquote-footer">Buziaczki - <cite title="Source Title">Józef Kasprzycki</cite></footer>
          </blockquote>
          <blockquote class="blockquote mb-0">
            <p>Aha i jako zdjęcia proszę dodawać zdjęcia poziome, które jak się wyśrodkują to żeby nie ucinało ich bardzo.
                <br> Dodatkowo nie dodawajnie zdjęć w HD ani w wyższych jakościach, bo są za ciężkie i będzie się użytkownikom lagowało.
            </p>
            <footer class="blockquote-footer">Buziaczki - <cite title="Source Title">Józef Kasprzycki</cite></footer>
          </blockquote>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Wszystkie dodane artykuły
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Podtytuł</th>
                        <th>Klasyfikacja</th>
                        <th>Dodane przez</th>
                        <th>Data dodania</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tytuł</th>
                        <th>Podtytuł</th>
                        <th>Klasyfikacja</th>
                        <th>Dodane przez</th>
                        <th>Data dodania</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for art in article %}
                        <tr>
                            <td>{{ art.name }}</td>
                            <td>{{ art.subtitle }}</td>
                            <td>{{ art.type }}</td>
                            <td>{{ art.added_by }}</td>
                            <td>{{ art.date }}</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}