{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/about.css">
</div>
<div id="people" class="people-element">

    <div class="people-bar" style="background-image: url(/static/img/static/wz.jpg);">
        <div class="bg-lin-shd">
        <h4>Wojtek Zalewski</h4>
        <p> Lider zespołu 
            Wojtek uczęszcza do drugiej klasy V Liceum Ogólnokształcącego o profilu ekonomiczno-prawniczym. Interesuje się historią oraz filozofią, w tym także ewolucją myśli ekonomicznej na przestrzeni wieków. Poza szkołą angażuje się w różnego rodzaju projekty i organizacje o tematyce polityczno-ekonomicznej. Jego pasją jest rower - uwielbia stawiać sobie wysokie cele, do których uparcie dąży, dlatego długie przejażdżki nie są mu straszne. Uwielbia także kontakty z ludźmi, w szczególności prowadzenie długich, wyczerpujących rozmów ze znajomymi. Jest on idealną osobą do podyskutowania na tematy społeczne oraz objaśnienia sytuacji ekonomicznej w danym kraju.</p>
        </div>
    </div>

    <div class="people-bar" style="background-image: url(/static/img/static/mr.jpg);">
        <div class="bg-lin-shd">
        <h4>Milena Rusek</h4>
        <p>Uczennica drugiej klasy krakowskiej ,,piątki” o profilu matematyczno-fizycznym. Bardzo interesują ją fizyka oraz statystyka, wielokrotnie dowodziła swojego zdeterminowania analizując liczne, skomplikowane wykresy. Jak sama stwierdza, nie ma zbyt wiele wolnego czasu. Wynika to z szerokiej gamy jej zainteresowań. Jednego dnia zjeżdża na nartach z lodowca a drugiego układa kostki Rubika lub ćwiczy techniki pamięciowe.  Mimo tak wielu zainteresowań Milena wciąż chce uczyć się nowych rzeczy, ponieważ z czasem nawet najtrudniejsze zadania z matmy przestają być dla niej wyzwaniem. Dlatego w naszym zespole jest odpowiedzialna za wyszukiwanie i przygotowywanie materiałów edukacyjnych.</p>
        </div>
    </div>

    <div class="people-bar" style="background-image: url(/static/img/static/pb.jpg);">
        <div class="bg-lin-shd">
        <h4>Patrycja Brzdęk</h4>
        <p>Patrycja uczy się w klasie o profilu prawniczo-ekonomicznym w  V Liceum Ogólnokształcącym w Krakowie. Interesuje się historią i polityką gospodarczą. Uwielbia podejmować wyzwania, a to 
        co nowe nie jest jej straszne. Szybko się uczy i jest wspaniałym kompanem do długich dyskusji. W wolnym czasie uwielbia uprawiać wszelakie sporty oraz grać w gry planszowe i komputerowe. 
        Patrycja w naszym zespole odpowiada za wyszukiwanie i weryfikowanie materiałów edukacyjnych.</p>
        </div>
    </div>

    <div class="people-bar" style="background-image: url(/static/img/static/mw.jpg);">
        <div class="bg-lin-shd">
        <h4>Mateusz Wróbel</h4>
        <p>Mateusz na co dzień uczy się w drugiej klasie piątego liceum w Krakowie w klasie mat-fiz-inf. Nie jest on jednak typowym nerdem, którego sobie pewnie teraz wyobrażacie. Jego głównymi zainteresowaniami są przedsiębiorczość i psychologia, co pokazuje jego charyzmę do odkrywania nowych rzeczy i stawiania sobie wyzwań. Dobrze się czuje w kontaktach międzyludzkich, a podczas długich rozmów podsuwa wiele ciekawych pomysłów i wartych uwagi rozwiązań. Rozrywkowo pasjonuje go także piłka nożna. Mateusz, oprócz kwestii merytorycznych, odpowiada w zespole za oprawę naszych mediów społecznościowych.</p>
        </div>
    </div>

    <div class="people-bar" style="background-image: url(/static/img/static/mk.jpg);">
        <div class="bg-lin-shd">
        <h4>Milena Kurek</h4>
        <p>Milena to uczennica drugiej klasy o profilu ekonomiczno-prawniczym w V Liceum Ogólnokształcącym. Jest otwartą i towarzyską osobą, na której zawsze można polegać. Ponadto dobrze radzi sobie z pracą w zespole. Najbardziej interesują ją mechanizmy działania ludzkiego umysłu i psychologia. Do tego ma ponadprzeciętną wiedzę w dziedzinie socjologii. W wolnym czasie lubi się zrelaksować i przeczytać dobrą książkę przy kubku ciepłej herbaty. W naszym zespole jest odpowiedzialna za tworzenie opisów postów oraz przeprowadzanie wywiadów.</p>
        </div>
    </div>

    <div class="people-bar" style="background-image: url(/static/img/static/jk.jpg);">
        <div class="bg-lin-shd">
            <h4>Julia Kramarczuk</h4>
            <p>Julka uczęszcza do drugiej klasy o profilu matematycznego-chemicznym w  V liceum ogólnokształcącego w Krakowie. Charakteryzuje ją duża kreatywność. Chętnie poszerza swoją wiedzę z wielu, często zupełnie różnych dziedzin. Jej główne zainteresowania to sztuka oraz językoznawstwo. Oprócz tego pasjonuje się psychologią a także posiada nieprzeciętną wiedzę na temat Giełdy Papierów Wartościowych.
            Bardzo interesująca jest jedna z form spędzania przez nią wolnego czasu - uwielbia lepić z gliny.  W naszym Julka zespole odpowiada za oprawę graficzną i przygotowywanie postów.</p>
            </div>
        </div>

</div>
{% endblock %}
