{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/about.css">
    <div class="about">
        <h3>Kim jesteśmy?</h3>
        <p>Cześć! 
            Czy zastanawialiście się dlaczego coraz cześciej mówi się o inflacji i podatkach, ale nigdy nie zagłębiliście się bardziej w ten temat? <br>
            Pomimo, że ekonomia jest podstawą funkcjonowania współczesnych społeczeństw, poświęcamy zbyt mało czasu na jej naukę. Naszym głównym celem jest podniesienie świadomości ekonomicznej młodych Polaków 
            Projekt skuMONEY, realizowany w ramach Zwolnionych z Teorii powstał po to, aby odpowiedzieć na takie pytania oraz przybliżyć Wam najważniejsze pojęcia dotyczące pięniędzy oraz finansów. Praktyczną wiedzę, którą zdobędziecie w trakcie trwania naszego projektu będziecie mogli z powodzeniem wykorzystać na późniejszych etapach życia. Dlatego zachęcamy do zaobserwowania i dalszego śledzenia naszych mediów społecznościowych.
            <br><br>
            <i class="fa-solid fa-arrow-down"></i>  Przeczytaj o członkach naszego projektu!
        </p>
    </div>
</div>
{% if member %}
    <div id="people" class="people-element">
        {% for m in member %}
            <input type="checkbox" id="swth-mem-{{m.id}}">
            <label for="swth-mem-{{ m.id }}" class="member" style="background-image: url(/static/img/members/{{ m.img }});">
                    <h3>{{ m.name }}</h3>
                    <p>{{ m.description }}</p>
            </label>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
