{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/about.css">
    <div class="about">
        <h3>Kim jesteśmy?</h3>
        <p>{{ aboutDescription|safe }}
            <br><br>
            <i class="fa-solid fa-arrow-down"></i>  Przeczytaj o członkach naszego projektu!
        </p>
        <img src="/static/img/logo.svg" alt="logo" sizes="100px" style="fill: var(--primary-lead);">
    </div>
</div>
{% if member %}
    <div id="people" class="people-element">
        {% for m in member %}
            <input type="checkbox" id="swth-mem-{{m.id}}">
            <label for="swth-mem-{{ m.id }}" class="member" style="background-image: url(/static/img/members/{{ m.img }});">
                    <h3>{{ m.name }}</h3>
                    <p>{{ m.description }}</p>
            </label>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
