{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/styles/index.css">
<h5>Artykuły</h5>
<form method="POST" action="{{ url_for('articles')}}">
    {{ form.hidden_tag() }}
    {{ form.name() }}
    {{ form.submit() }}
</form>
<div class="articles-container" style="margin: 100px 0 100px 0;">
    {% if article %}
        {% for article in article %}
                <a href="{{ url_for('article', article_name=article.name )}}">
                    <div class="big-banner banner " style="background-image: url(static/img/articles/{{ article.id }}.jpg)">
                        <div class="bg-lin-shd">
                        <h6>{{ article.name }}</h6>
                        <h7>{{ article.subtitle }}</h7>
                        </div>
                        <div class="highlight"></div>
                    </div>
                </a>
        {% endfor %}
    {% else %}
        <h6> Brak artykułów do wyświetlenia..! </h6>
    {% endif %}
</div>
{% endblock %}