{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/banners.css">
<link rel="stylesheet" href="/static/styles/articles.css">
<h5>Artykuły</h5>
<form method="POST" action="{{ url_for('articles')}}">
    {{ form.hidden_tag() }}
    {{ form.name(type="search", placeholder="Szukaj po tytule...", class="text-input") }}
    {{ form.submit(class="button small primary", value="Szukaj") }}
</form>
<div class="types-area">
    <a href="{{ url_for('articles') }}">
        <div class="button small primary">Wszystkie</div>
    </a>
    <a href="{{ url_for('articles') }}/kategoria=Pieniądze w praktyce">
        <div class="button small primary">Pieniądze w praktyce</div>
    </a>
    <a href="{{ url_for('articles') }}/kategoria=Ważne pojęcia">
        <div class="button small primary">Ważne pojęcia</div>
    </a>
    <a href="{{ url_for('articles') }}/kategoria=Historia pieniądza">
        <div class="button small primary">Historia pieniądza</div>
    </a>
    <a href="{{ url_for('articles') }}/kategoria=Ciekawostki">
        <div class="button small primary">Ciekawostki</div>
    </a>
</div>
<div class="articles-container">
    {% if art %}
        {% for art in art %}

            <a href="{{ url_for('article', article_name=art.name )}}">
            <div class="banner" style="background-image: url(/static/img/articles/{{  art.img }})">
                <div class="bg-lin-shd">
                <h6>{{ art.name }}</h6>
                <h7>{{ art.subtitle }}</h7>
                </div>
                <div class="highlight"></div>
            </div>
            </a>

        {% endfor %}
    {% else %}
        <h6> Brak artykułów do wyświetlenia..! </h6>
    {% endif %}
</div>
{% endblock %}