<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
    <meta charset="UTF-8">
    <title>SkuMONEY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css" />
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="/static/styles/mobile_style.css">

    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    <script src="/static/js/index.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/5e8435af5f.js" crossorigin="anonymous"></script>
    <script src="/static/js/vanilla-tilt.babel.js" type="text/javascript"></script>

</head>

<body>
    {% block head %}
    {% endblock %}
    <input type="checkbox" name="men-swith" id="men-swith">
    <div class="menu">
        <div>
            <a href="{{ url_for('home') }}">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="logo" width="55px" height="55px">
                    <h8 class="sku">Sku</h8>
                    <h8 class="money">MONEY</h8>
                </div>
            </a>
            <label for="men-swith"><i class="fa-solid fa-bars"></i></label>
        </div>
        
        <div class="buttons">
            <a href="{{ url_for('home') }}">
                <div class="option">HOME</div>
            </a>
            <a href="{{ url_for('articles') }}">
                <div class="option">ARTUKUŁY</div>
            </a>
            <a href="{{ url_for('about') }}">
                <div class="option">O NAS</div>
            </a>
            <a href="{{ url_for('about') }}">
                <div class="option">KONTAKT</div>
            </a>
            <button id="switch" class="small-button" onclick="toggleTheme()">
                <i class="fa-solid fa-moon"></i>
            </button>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="reveal">
        <a href="{{ url_for('home') }}">
            <h5>SkuMONEY</h5>
        </a>
        <div class="ft-cont">
            <div class="block">
                <h7>Mapa strony</h7>
                <a href="{{ url_for('home') }}">HOME</a>
                <a href="{{ url_for('articles') }}">ARTYKUŁY</a>
                <a href="{{ url_for('about') }}">O NAS</a>
                <a href="#">KONTAKT</a>
                <a href="">O STRONIE</a>
            </div>
            <div class="block">
                <h7>Artykuły</h7>
                <a href="{{ url_for('articles') }}">Pieniądze w praktyce</a>
                <a href="{{ url_for('articles') }}">Ważne pojęcia</a>
                <a href="{{ url_for('articles') }}">Historia pieniądza</a>
                <a href="{{ url_for('articles') }}">Ciekawostki</a>
            </div>
            <div class="block">
                <h7>Nasze social media</h7>
                <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
                <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="#"><i class="fa-brands fa-youtube"></i>YouTube</a>
            </div>
        </div>
        <div class="ft-bott">All rights reserved by Józef Kasprzycki 2022</div>
    </footer>
</body>

</html>