{% extends "base.html" %}

{% block head %}
<div id="head" class="head" style="background-image: url(static/img/head.jpg);">
  <div class="bg-lin-shd">
    <div class="titles reveal">
      <h1>SkuMONEY</h1>
      <hr>
      <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h7>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<h5 class="reveal"> Najnowsze artykuły </h5>

<div class="articles-container reveal">

  <a href="{{ url_for('article', article_title='tem')}}">
    <div class="big-banner banner reveal" style="background-image: url(static/img/bg-article.jpg)">
      <div class="bg-lin-shd">
        <h6>Tytuł 1</h6>
        <h7>Podtytuł 1</h7>
      </div>
      <div class="highlight"></div>
    </div>
  </a>

  <a href="{{ url_for('article', article_title='tem')}}">
    <div class="big-banner banner reveal" style="background-image: url(static/img/bg-article2.jpg)">
      <div class="bg-lin-shd">
        <h6>Tytuł 2</h6>
        <h7>Podtytuł 2</h7>
      </div>
      <div class="highlight"></div>
    </div>
  </a>

  <a href="{{ url_for('article', article_title='tem') }}">
    <div class="small-banner banner reveal" style="background-image: url(static/img/bg-article2.jpg)">
      <div class="bg-lin-shd">
        <h6>Tytuł 3</h6>
      </div>
      <div class="highlight"></div>
    </div>
  </a>

  <a href="{{ url_for('article', article_title='tem') }}">
    <div class="small-banner banner reveal" style="background-image: url(static/img/bg-article2.jpg)">
      <div class="bg-lin-shd">
        <h6>Tytuł 3</h6>
      </div>
      <div class="highlight"></div>
    </div>
  </a>

  <a href="{{ url_for('article', article_title='tem') }}">
    <div class="small-banner banner reveal" style="background-image: url(static/img/bg-article2.jpg)">
      <div class="bg-lin-shd">
        <h6>Tytuł 3</h6>
      </div>
      <div class="highlight"></div>
    </div>
  </a>

  <a href="{{ url_for('article', article_title='tem') }}">
    <div class="small-banner banner reveal" style="background-image: url(static/img/bg-article2.jpg)">
      <div class="bg-lin-shd">
        <h6>Tytuł 3</h6>
      </div>
      <div class="highlight"></div>
    </div>
  </a>

</div>
<a href="{{ url_for('articles') }}">
  <div class="primary-button reveal">Artykuły -></div>
</a>
<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".banner"), {
		max: 15,
		speed: 1000
	});
</script>
{% endblock %}
