{% extends "base.html" %}

{% block head %}
<div id="head" class="head" style="background-image: url(/static/img/head.png);">
  <div class="bg-lin-shd">
    <div class="titles">
      <h1>SkuMONEY</h1>
      <hr>
      <h7>
        Projekt SkuMONEY, realizowany w ramach <a href="https://zwolnienizteorii.pl/" target="_blank" rel="noopener noreferrer">Zwolnieni z Teorii</a>, ma na celu podniesienie świadomości, wiedzy oraz umiejętności praktycznych młodych Polaków z zakresu ekonomii i przedsiębiorczości.</h7>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/styles/index.css" type="text/css">
<link rel="stylesheet" href="/static/styles/banners.css" type="text/css">
{% if art %}
<h5 class="reveal" style="text-align: center">Najnowsze artykuły</h5>
  <div class="articles-container reveal">
    {% for art in art %}

      <a href="{{ url_for('article', article_name=art.name )}}">
        {% if art.img!='' %}
          <div class="banner" style="background-image: url(/static/img/articles/{{  art.img }})">
        {% else %}
          <div class="banner" style="background-image: url(/static/img/default_article_image.jpg)">
        {% endif %}
          <div class="bg-lin-shd">
            <h6>{{ art.name }}</h6>
            <h7>{{ art.subtitle }}</h7>
          </div>
          <div class="highlight"></div>
        </div>
      </a>

    {% endfor %}
  </div>
  <a href="{{ url_for('articles') }}">
    <div class="button primary big">Więcej artykułów</div>
  </a>
{% else %}
  <h5 class="reveal">Żadne artykuły nie zostały jeszcze dodane</h5>
{% endif %}
<script src="https://skrypt-cookies.pl/id/a21041d15df7e3b4.js"></script>

{% endblock %}
