.content{
    padding-bottom: 30px;
}
.content>.about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.content>.about>h3{
    margin-top: 100px;
}
.content>.about>p{
    margin-top: 50px;
    font-weight: 100;
    line-height: 30px;
    text-align: justify;
}
.people-element{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg);
    padding: 50px;
    box-sizing: border-box;
}
.people-element>input{
    display: none;
}
@media only screen and (min-width: 900px){
    .people-element>label{
        width: 100px;
        height: 600px;
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: scroll;
        background-color: var(--first-accent);
        overflow: hidden;
        cursor: pointer;
        transition: 0.5s;
    }
    .people-element>label>h3{
        color: #fff;
        font-size: 50px;
        white-space: nowrap;
        transform: rotateZ(90deg);
        margin-top: 50px;
        transition: 0.5s;
    }
    .people-element>label>p{
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    .people-element>label:hover{
        width: 110px;
    }
    .people-element>input:checked + label{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .people-element>input:checked + label>h3{
        transform: rotateZ(0deg);
        white-space: normal;
    }
    .people-element>input:checked + label>p{
        opacity: 1;
    }
}
@media only screen and (max-width: 900px){
    .people-element{
        flex-direction: column;
        height: auto;
    }
    .people-element>label{
        width: 90vw;
        height: 140px;
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: scroll;
        background-color: var(--first-accent);
        overflow: hidden;
        cursor: pointer;
        transition: 0.5s;
    }
    .people-element>label>h3{
        color: #fff;
        font-size: 50px;
        transition: 0.5s;
    }
    .people-element>label>p{
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    .people-element>input:checked + label{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .people-element>input:checked + label>h3{
        white-space: normal;
    }
    .people-element>input:checked + label>p{
        opacity: 1;
    }
}