.articles-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 15px 10px;
}
.banner{
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner>.bg-lin-shd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 30px;
    box-sizing: border-box;
    transition: .5s;
}
.banner:hover>.bg-lin-shd{
    background: #00000000;
}
.banner>.bg-lin-shd>h6{
    color: #fff;
    font-weight: 700;
}
.banner>.bg-lin-shd>h7{
    color: #bbb;
}
.banner>.highlight{
    height: 5px;
    width: 0;
    background: var(--second-accent);
    transition: .5s;
}
.banner:hover>.highlight{
    width: 100%;
}
